/*mq*/

/*mobile*/

@media only screen and (max-width: 500px){
    /*index*/
    main{
        .contenedor-uno{
            display: grid;
            place-items: center;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 1fr);
            .foto-de-plantas{
                display: block;
                grid-row: span ;
                grid-column:span  ;
                margin-top: 55px;
            }
        }
    }
    /*productos*/
    main{
    .contenedor-dos{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        }
    }
    /*contactos*/
    .main-contactos{
        .div-container-contactos{
            display: block;
          .div-uno-contactos{
            display: block;
            margin-top: 40px;
            width: 300px;
            height: 200px;
          }
          .div-formulario{
            width:auto;
          }
       }
    }
    .footer-dos{
        width: 100%;
        position: relative;
        bottom: 0;
    }

    /*preguntas frecuentes*/
    .main-faq{
        div{
            display: block;
            
            .parrafo{
                width: auto;
                height: auto;
            }
            .img-uno, .img-dos, .img-tres, .img-cuatro{
                margin: 10px 0px;
                width: 100%;
            }
        }

    }
}








/*tablet*/

@media only screen and (min-width:501px) and (max-width:960px){
    main{
        .contenedor-uno{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
           
            .foto-de-plantas{
                display: block;
                grid-row: span 1;
                grid-column:span 2 ;
                margin-top: 55px;
            }
        }
    }

    main{
        .contenedor-dos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(12, 1fr);
        }
    }

    /*contactos*/
    .main-contactos{
      .div-container-contactos{
          display: block;
          .div-uno-contactos{
            display: block;
            margin-top: 40px;
            width: 500px;
            height: 200px;
            margin-left: 100px;
          }
        } 
    }
    /*preguntas frecuentes*/
    .main-faq{
        div{
            .parrafo{
                width: 300px;
            }
            .img-uno{
                width: 500px;
                height: 250px;
                margin-left: 0;
                margin-top: 70px;
            }
            .img-dos{
                width: 400px;
                height: 300px;
                margin-right: 20px ;
                margin-left:0;
                margin-top: 70px;
            }
            .img-tres{
                width: 400px;
                height: 300px;
                margin-left: 30px;
                margin-top:30px ;
            }
            .img-cuatro{
                width: 500px;
                height: 300px;
                margin-right: 30px;
                margin-left:0;
                margin-top: 30px;
            }
        }
    }


    main{
        .footer-dos{
            width: 100%;
            bottom: 0;
        }

        
    } 

}
    

  









/*desktop*/
@media only screen and (min-width:961px){
    main{
        .contenedor-uno{
            grid-template-columns:repeat(4, 1fr) ;
            grid-template-rows: repeat(3, 1fr);
            .foto-de-plantas{
                margin-top: auto;
                display: block;
                grid-row: span 2;
                grid-column:span 4 ;
                width: 100%;
                height: 90%;
            }
        }
    }
    .main-contactos{
        .div-container-contactos{
            display: flex;
        }
    }

    .footer-dos{
        width: 100%;
            position:relative;
            bottom: 0;
    }
}
