
/*nosotros*/
.main-nosotros{
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 1%;
    .titulo-nosotros{
        @include titulo(20px)
    }
    div{
        display: grid;
        place-items: center;
        p{
            text-align: center;
        }
        .mapa{
            
            width: 350px;
            height: 200px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .div-nosotros{
        .img-vivero{
            width: 350px ;
            height: 300px ;

        }
    
    }
}