/*productos*/
main{
    .titulo-productos{
        margin-top: 70px;
        margin-left: 35px;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    .contenedor-dos{
        align-content: center;
        margin: 0px 30px 50px 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }
}